{% extends "base.html" %}
{% load crispy_forms_filters %}
{% load static %}
{% block extrahead %}
<link rel="stylesheet" href="{% static 'css/login.css' %}">
    
{% endblock extrahead %}

{% block content %}
<div class="row login">

    <div class="col-7 mx-auto login2">
        <div class="wrapper">
            <form action="{% url 'account_signup' %}" method="post">
                {% csrf_token %}
                <h1>CREATE YOUR ACCOUNT</h1>

                    {{ form|crispy }}

                <div class="button">
                    <button class="mt-4 btn btn-dark" type="submit"> SIGN UP </button>
                </div>
            </form>
        </div>
    </div>

</div>

{% endblock content %}
