{% extends "base.html" %}
{% block content %}
    <div id="map" style="height: 600px; width: 100%;"></div>

{% endblock content %}

{% block extrascript %}
    <script>
        // Initialize the map
        const map = L.map('map').setView([-27.4698, 153.0251], 8); // Centered in Queensland
        L.hash(map);

        // Add Geocoder
        L.Control.geocoder().addTo(map);

        // Base map
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        // Fetch and add layers from the backend
        fetch('/layers/')
            .then(response => response.json())
            .then(data => {
                console.log(data)
                data.forEach(layer => {
                    if (layer.server.url) {
                        // Add Esri dynamic map layer
                        const dynamicLayer = L.esri.dynamicMapLayer({
                            url: layer.server.url
                        }).addTo(map);
                        console.log(dynamicLayer)
                        
                        console.log(layer.server.extent_min_y)
                        console.log(layer.server.extent_min_x)
                        console.log(layer.server.extent_max_y)
                        console.log(layer.server.extent_max_x)
                      

                        // Optional: Add bounds if available
                        const bounds = [
                            [layer.server.extent_min_y, layer.server.extent_min_x],
                            [layer.server.extent_max_y, layer.server.extent_max_x]
                        ];

                        {#L.rectangle(bounds, {  weight: 1 })#}
                        {#    .addTo(map)#}
                        {#    .bindPopup(`Layer: ${layer.name}`);#}
                    }
                });
            })
            
            .catch(err => console.error('Error fetching layers:', err));
           

    </script>
{% endblock extrascript %}